{% extends 'user/layout1.html'%}
{% block title%} {{session['user']}} {% endblock %}

{% block statement %}
    
    <p class="display-4 color1">Welcome, {{guestdeets.guest_fname}} </p>
    
    <p class="lead color2">
        Please select from the gift items.
    </p>
    {% set msg = get_flashed_messages(with_categories=True)%}
    {% if msg %}
    {% for i in msg %}
    {% if i[0] == 'error'%}
    <p class="alert alert-danger">{{i[1]}}</p>
    {% else %}
    <p class="alert alert-success">{{i[1]}}</p>
    {% endif %}
    {% endfor %}
    {% endif %}
    <div class="bg-dark col-7 p-3">
        <a href="/user/edit" class="btn-link lead color1 d-block mb-3 px-3">Edit profile</a>
        <a href="/user/Upload" class="btn-link lead color1 d-block mb-3 px-3">Upload Picture</a>
        <a href="/registry" class="btn-link lead color1 d-block mb-3 px-3">View gift</a>
        <a href="/#" class="btn-link lead color1 d-block mb-3 px-3">Change your gift</a>
        <a href="/#" class="btn-link lead color1 d-block mb-3 px-3">Check Available Hotels</a>
        <a href="/#" class="btn-link lead color1 d-block mb-3 px-3">Send Enquiries</a>
        <a href="/#" class="btn-link lead color1 d-block mb-3 px-3">Buy Aso Ebi</a>
        <a href="/#" class="btn-link lead color1 d-block mb-3 px-3">See other Announcements</a>  
    </div>
    <div class="d-flex btn-group">
        <a href="/logout" class="btn btn-lg color3 d-inline-block" style="border:2px solid #BA68C8;">Log out</a>
    </div>
{% endblock %}

{% block form %}

{% if guestdeets.guest_image != '' %}
<img src="{{url_for('static', filename='uploads/'+guestdeets.guest_image)}}" alt="" height="200">
{% else %}
<a href="/user/upload">Click here to upload picture</a>
{% endif %}

<div>

    {% if promised_gifts %}
    <p class="lead"> Thank you for submitting the gifts checked below</p>
    {% endif %}
    <form action="/submit/registry" method="post">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>S/N</th>
                    <th>Gift</th>
                    <th>Gift name</th>
                </tr>  
            </thead>
            <tbody>
                <!-- We will come in here to loop and if statement for promised gifts -->
                {% for i in gift %}
                <tr>
                    <td> {{loop.index}}</td>
                    {% if i.gift_id in promised_gifts %}
                    <td> <input type="checkbox" class="form-checked" name="selected_gift" value="{{i.gift_id}}" checked></td>
                    {% else %}
                    <td> <input type="checkbox" class="form-checked" name="selected_gift" value="{{i.gift_id}}"></td>
                    {% endif %}
                    <td>{{i.gift_name}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <input type="hidden" name="csrf_token" id="csrf_token" value="{{csrf_token()}}">
        <button class="btn btn-success">Submit</button>
    </form>
</div>
{% endblock%}