<div class="bg-dark col-7 p-3">
    <a href="/user/edit" class="btn-link lead color1 d-block mb-3 px-3">Edit profile</a>
    <a href="/#" class="btn-link lead color1 d-block mb-3 px-3">Upload Picture</a>
    <a href="/#" class="btn-link lead color1 d-block mb-3 px-3">Change your gift</a>
    <a href="/#" class="btn-link lead color1 d-block mb-3 px-3">Check Available Hotels</a>
    <a href="/#" class="btn-link lead color1 d-block mb-3 px-3">Send Enquiries</a>
    <a href="/#" class="btn-link lead color1 d-block mb-3 px-3">Buy Aso Ebi</a>
    <a href="/#" class="btn-link lead color1 d-block mb-3 px-3">See other Announcements</a>  
</div>
<div class="d-flex btn-group">
    <a href="/logout" class="btn btn-lg color3 d-inline-block" style="border:2px solid #BA68C8;">Log out</a>
</div>